src/main/resources/xml/xsd/FlightSchema.xml

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Flight">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Flight">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="duration" type="xsd:float"/>
                            <xsd:element name="startingPoint" type="xsd:string"/>
                            <xsd:element name="destination" type="xsd:string"/>
                            <xsd:element name="departureDate" type="xsd:date"/>
                            <xsd:element name="arrivalDate" type="xsd:date"/>
                            <xsd:element name="departureHour" type="xsd:string"/>
                            <xsd:element name="arrivalHour" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="idFlight" type="xsd:long" use="required"/>
                        <xsd:attribute name="idPlane" type="xsd:string" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>








