src/main/resources/xml/xsd/LuggageScheme.xml

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Luggage">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Luggage">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="size" type="xsd:float"/>
                            <xsd:element name="onCabin" type="xsd:boolean"/>
                        </xsd:sequence>
                        <xsd:attribute name="idLuggage" type="xsd:long" use="required"/>
                        <xsd:attribute name="idPassenger" type="xsd:long" use="required"/>
                        <xsd:attribute name="idFlight" type="xsd:long" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>








